<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda Esotérica{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav class="appnavbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
            </div>
            <div class="nav-links">
                <a href="/cuenta">Cuenta Personal</a>
                <a href="/carrito">Carrito de Compra</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Tienda Esotérica. Todos los derechos reservados.</p>
    </footer>
</body>
</html>