<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda Esotérica Misterio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/Perfil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logoMisterio.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="appnavbar">
                <div class="logo">
                    <a href="{% url 'inicio' %}">
                        <img src="{% static 'images/logoMisterio.png' %}" alt="Logo">
                    </a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit" class="search-button">
                        <img src="{% static 'images/lupa.png' %}" alt="Buscar" class="search-icon">
                    </button>
                </div>
                <div class="nav-links">
                    {% if user.is_authenticated %}
                    <a href="/perfil/" class="button">Mi Perfil</a>
                    {% else %}
                    <a href="/login/" class="button">Iniciar Sesión</a>
                    {% endif %}
                    <a href="/carrito" class="button cesta-button">
                        Cesta <img src="{% static 'images/cesta.png' %}" alt="Cesta" class="cesta-icon">
                    </a>

                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 Tienda Esotérica Misterio. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>