<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda Esotérica Misterio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/Perfil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logoMisterio.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="appnavbar">
                <div class="logo">
                    <a href="{% url 'inicio' %}">
                        <img src="{% static 'images/logoMisterio.png' %}" alt="Logo">
                    </a>
                </div>
                <div class="search-bar">
                    <form action="{% url 'inicio' %}" method="get" class="search-form">
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle" id="dropdown-button">
                                {% if request.GET.categoria %}
                                    {% for categoria in categorias %}
                                        {% if categoria.id|stringformat:"s" == request.GET.categoria %}
                                            {{ categoria.nombre }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    Categorías
                                {% endif %}
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" id="dropdown-menu">
                                <li>
                                    <a href="?search={{ request.GET.search|default_if_none:'' }}">Todas</a>
                                </li>
                                {% for categoria in categorias %}
                                <li>
                                    <a href="?categoria={{ categoria.id }}&search={{ request.GET.search|default_if_none:'' }}">
                                        {{ categoria.nombre }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <input type="text" name="search" placeholder="Buscar..." value="{{ request.GET.search|default_if_none:'' }}">
                        <button type="submit" class="search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>

                <div class="nav-links">
                    {% if user.is_authenticated %}
                    <a href="/perfil/" class="button">Mi Perfil</a>
                    {% else %}
                    <a href="/login/" class="button">Iniciar Sesión</a>
                    {% endif %}
                    <a href="{% url 'quienes_somos' %}"  class="button cesta-button">Quiénes Somos</a>
                    <a href="/carrito" class="button cesta-button">
                        Cesta <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2024 Tienda Esotérica Misterio. Todos los derechos reservados.</p>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownButton = document.getElementById('dropdown-button');
            const dropdownMenu = document.getElementById('dropdown-menu');
            
            if (dropdownButton && dropdownMenu) {
                dropdownButton.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    dropdownMenu.classList.toggle('show');
                });
                
                document.addEventListener('click', function (e) {
                    dropdownMenu.classList.remove('show');
                });
                
                dropdownMenu.addEventListener('click', function (e) {
                    e.stopPropagation();
                });
            } else {
                console.error('Elementos no encontrados en el DOM');
            }
        });
    </script>
</body>
</html>