{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<div class="profile-container">
    <h2>Editar Perfil</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="profile-buttons">
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="{% url 'perfil' %}" class="btn btn-danger">Descartar Cambios</a>
        </div>
    </form>    
        
</div>
{% endblock %}
