{% extends 'base.html' %}

{% block title %}Inicio - Tienda Esotérica{% endblock %}

{% block content %}

<section class="hero">
  <h1 style="margin-top: 50px;">Bienvenido a la Tienda Esotérica Misterio</h1>
  <p>Descubre un mundo de magia, misticismo y espiritualidad.</p>
  
<section class="about">
  <h2>Sobre Nosotros</h2>
  <p>En nuestra tienda esotérica, ofrecemos una amplia variedad de productos para ayudarte en tu viaje espiritual. Desde cristales y piedras preciosas hasta libros de magia y tarot, tenemos todo lo que necesitas para explorar el mundo esotérico.</p>
</section>

  <h2>Productos Destacados</h2>
  <div class="product-grid">
    {% for producto in productos %}
      <div class="product-item">
        <a href="{% url 'producto_detalle' producto.pk %}">
          <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
          <h3>{{ producto.nombre }}</h3>
        </a>
        <p class="categoria">{{ producto.categoria.nombre }}</p>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: {{ producto.precio }} €</p>
        <form action="{% url 'add_to_cart' producto.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="add-to-cart">Añadir a la cesta</button>
        </form>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
