{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="home-link">
    <a href="{% url 'inicio' %}">Página Principal</a>
</div>
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        
        <!-- Mostrar errores generales del formulario -->
        {% if form.non_field_errors %}
            <div class="form-error" style="color: red;">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        {% for field in form %}
            <div class="form-group" style="position: relative;">
                {% if field.name == "username" %}
                    <label for="{{ field.id_for_label }}">Correo</label>
                {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    <div class="form-error" style="color: red;">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit" class="form-button">Iniciar Sesión</button>
    </form>
    <div class="register-link">
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}" class="link-text">Regístrate aquí</a></p>
    </div>
</div>
{% endblock %}
