{% extends 'base.html' %}
{% load static %}

{% block title %}Mis Pedidos{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mis_pedidos.css' %}">
<main>
    <h2>Mis Pedidos</h2>
    {% if pedidos %}
        <table>
            <thead>
                <tr>
                    <th>ID del Pedido</th>
                    <th>Fecha</th>
                    <th>Dirección de Envío</th>
                    <th>Productos</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.id }}</td>
                        <td>{{ pedido.fecha_pedido|date:"d M, Y" }}</td>
                        <td>{{ pedido.direccion_envio }}</td>
                        <td>
                            <ul class="productos-lista">
                                {% for producto in pedido.productos.all %}
                                    <li>
                                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="producto-img">
                                        <div class="producto-info">
                                            <strong>{{ producto.nombre }}</strong>
                                            <span class="producto-precio">{{ producto.precio }}€</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="total">{{ pedido.precio_total }}€</td>
                        <td class="estado {{ pedido.estado|lower }}">{{ pedido.get_estado_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="sin-pedidos">No tienes pedidos.</p>
    {% endif %}
</main>
{% endblock %}
