{% extends 'base.html' %}

{% block title %}{{ producto.nombre }} - Tienda Esotérica{% endblock %}
{% load static %}
{% load custom_filters %}
{% block content %}
<section class="producto-detalle" style="padding-top: 60px">
  <div class="producto-imagen">
    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
  </div>
  <div class="producto-info">
    <h1>{{ producto.nombre }}</h1>
    <p class="categoria">{{ producto.categoria.nombre }}</p>
    <p>{{ producto.descripcion }}</p>
    <p>Precio: {{ producto.precio }} €</p>
    <form action="{% url 'add_to_cart' producto.id %}" method="post">
      {% csrf_token %}
      <label for="cantidad">Cantidad:</label>
      <select id="cantidad" name="cantidad">
        {% for i in 10|to_range %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="add-to-cart">Añadir a la cesta</button>
    </form>
  </div>
</section>
{% endblock %}