{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Regístrate</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-error" style="color: red;">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="form-button">Crear Cuenta</button>
    </form>
    <div class="login-link">
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
    </div>
</div>
{% endblock %}
