body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 2rem 0;
    background-color: #e2e2e2;
}

.about, .products {
    padding: 2rem;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
}

.product-item {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.inicio a {
    color: inherit;
    text-decoration: none;
}